html {
  background-color: #FFF;
}

body {
  margin: 0;
  font-family: 'Merriweather', serif;
}

h1 {
  font-family: 'Open Sans', sans-serif;
}

img {
  width: 350px;
  vertical-align: bottom;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: 	#366A75;
  text-decoration: none;
}

.nav-wrapper {
  background-color: #84D8EB;
  height: 60px;
  position: fixed;
  left: 0;
  right: 0;
  top: 150px;
  box-shadow: (0 0 20px rgba(0,0,0,0.5));
}

.navbar {
  margin: 0 auto;
  width: 500px;
  display: flex;
}

.nav-item {
    display: inline-block;
    flex-grow: 1;
    text-align: center;
    position: relative;
}

.nav-item a {
  text-transform: uppercase;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  position: relative;
}

.nav-item > a:after {
  content: "";
  display: none;
  position: absolute;;
  height: 2px;
  width: 40px;
  background-color: white;
  left: calc(50% - 20px);
  bottom: 0;
}

/* Display the line under text while hovering over */
.nav-item a:hover:after {
  display: block;

}

.dropdown-menu {
  display: block;
  background-color: #E7FFFE;
  position: absolute;
  right: 0;
  width: 200px;
  text-align: left;
  box-shadow: 0 5px 20px rgba(0,0,0,0.5);
  border-radius: 5px;
  padding: 5px 0;
  transform: scale(0);
  transform-origin: top right;
  transition: transform ease-in-out 500ms
}

.dropdown-menu.open {
  transform: scale(1);
}

.dropdown-item a {
  color: #366A75;
  display: block;
  margin: 0;
}

.dropdown-item a:hover {
  background-color: #ccc;
}

#header {
  text-align: center;
  background-color: #FFF;
  height: calc(100vh - 60px);
  box-sizing: border-box;
  margin-top: 60px;
  padding-top: 60px 0 0 0;

}
